<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.inhatc.mapper.StudentInfoMapper">

	<insert id="inserStudent">
		insert into tbl_studentinfo (studentname, address, phone, email) values
		( #{studentname}, #{address}, #{phone}, #{email} )
	</insert>
	
	<select id="selectStudent" resultType="com.inhatc.domain.StudentVO">
		select * from tbl_studentinfo where studentno= #{studentno}
	</select>
	
	<update id="update">
		update tbl_studentinfo set studentname = #{studentname}, address = #{address}, phone = #{phone}, email = #{email}
		where studentno = #{studentno}
	</update>
	
	<select id="selectAll" resultType="com.inhatc.domain.StudentVO">
		<![CDATA[
			select studentname, address, phone, email 
			from tbl_studentinfo
		]]>
	</select>
	
	<delete id="delete">
		delete from tbl_studentinfo where studentno = #{studentno}
	</delete>
	
	<select id="listCount" resultType="int">
		select count(*) from tbl_studentinfo
	</select>
</mapper>